* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("/img/background.jfif");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

input {
  background-color: black;
  opacity: 0.5;
  height: 50px;
  width: 300px;
  border-radius: 0.3rem;
  padding-left: 10px;
  font-size: 30px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
  padding: 50px;
}

.error {
  padding-right: 180px;
  display: none;
}

.error p {
  color: lightcoral;
}

.weather-display {
  display: flex;
  padding-left: 100px;
  padding-top: 100px;
}

.weather-right {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding-top: 50px;
  gap: 40px;
  margin-left: -50px;
}

.wind::before {
  content: "Wind: ";
}

.wind::after {
  content: " MPH";
}

.humidity::before {
  content: "Humidity: ";
}

.humidity::after {
  content: "%";
}

.feels-like::before {
  content: "Feels Like: ";
}

.feels-like::after {
  content: "°F";
}

#bar {
  font-size: 200px;
}

.condition {
  font-size: 50px;
  margin-bottom: -15px;
}

.place {
  font-size: 80px;
}

.degree {
  font-size: 130px;
}

.degree::after {
  content: "°F";
}
